/* --------- navbar --------- */
.navbar-default {
  border: none;
  background-color: #7fc7af;  
}

.navbar .container-fluid {
  padding: 10px;
  padding-bottom: 0;
}

#logo {
  width: 110px;
  height: 60px;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 768px) {
  .navbar-nav {
    width: 100%;
    padding: 8px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
  }
  .navbar-nav > li {
    float: none;
    display: inline-block;
  }
}

#bs-example-navbar-collapse-1 li a {
  color: whitesmoke; 
}

#bs-example-navbar-collapse-1 li a:hover {
    color: #f1afb9;
}


/* --------- personal summary --------- */
#personal-summary {
  margin-top: 15px;
  padding-top: 70px;
  padding-bottom: 100px;
  background-color:rgba(0,0,0,0.3);
  max-width: 1000px;
  border-radius: 5px;
}

#personal-summary .row {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

#personal-summary h3 {
  font-family: 'Pacifico', 'Brush Script Std', cursive;
  color: #ffb6c1;
}

#personal-summary p {
  font-family: sans-serif;
  font-size: 11pt;
  color: #e9e9e9; 
}

#projects .thumbnail, .modal-body p, .modal-body #responsibilities {
  font-family: sans-serif;
  font-size: 11pt;
  color: #545454;
}

.col-md-3 {
  padding-right: 0px;
}

#profile-picture {
  position: relative;
  width: 160px;
  top: 30px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 60px;
}

.col-md-9 {
  padding-left: 30px;
}


/* --------- modals --------- */
.modal .container-fluid {
  margin: 30px 0;
}

.modal-body .list-inline {
  margin: 30px 0;
  font-family: sans-serif;
  font-weight: 300;
}

.modal-body {
  max-width: 90%;
  max-height: 90%;
  margin: 0 auto;
}

.modal-body img {
  margin-bottom: 10px;
}

.modal-body p {
  text-align: center;
  margin-bottom: 25px;
}

.modal-body #project-description {
  text-align: left;
}

.modal-body h4 {
  text-align: center;
  font-family: 'Kameron', 'Palatino', serif;
  font-weight: 700;
  color: #545454;
  margin-top: 40px;
  margin-bottom: 15px;
}

.modal-body .fa-li {
  left: 0;
  width: 40px;
  display: inline-block;
  position: relative;
}

.modal-body .fa-ul a {
  color: #545454;
}

.modal-body .fa-times-circle-o {
  color: #c0c0c0;
  text-align: center;
  width: 100%;
}

.modal .close {
  font-size: 60px;
  padding-right: 14px; 
}

.modal .close:hover, .modal-body .fa-ul a:hover, .modal-body .fa-times-circle-o:hover {
  color: #ffb6c1;
}

.modal h2 {
  font-family: 'Kameron', 'Palatino', serif;
  font-weight: 700;
  text-align: center;
}

.carousel-inner img {
  margin-bottom: 0;
}

.carousel-indicators li {
  border-color: #ffb6c1;
}

.carousel-caption {
  color: #ff699b;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  text-shadow: 0 1px 2px rgba(0,0,0,.6);
}

.carousel-control {
  color: #ffb6c1;
}


/* --------- projects --------- */
#projects {
  max-width: 1000px;
  padding-top: 40px;
}

#projects h1 {
  text-align: center;
  font-family: serif;
  padding-top: 35px;
  padding-bottom: 45px;
}

#projects .thumbnail {
  text-align: center;
  width: 260px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  position: relative;
	overflow: hidden;	
  padding: 0px;
  border-style: none;
  background-color: rgba(233,233,233,0.5); 
}

#projects .thumbnail p {
  margin-bottom: 20px;
}

#project-cover-3 {
  padding-top: 40px;
  padding-bottom: 40px;
  height: 260px;
  width: 260px;
  background-color: #7fc7af;
}

#projects .caption {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	background: rgba(0,0,0,0.6);
	width: 260px;
	height: 260px;    
  border-radius: 6px;
	color:#ffffff !important;
}

#projects .caption h3 {
  font-size: 23px;
  font-family: 'Kameron', 'Palatino', serif;
  font-weight: 700;
  margin-top: 90px;
}

#projects .caption a {
  width: 140px;                     
  line-height: 22px;
  border: 2px solid #ffffff;
  border-radius: 0px;
  color: #ffffff;
  background: transparent;
  font-family: sans-serif;
  font-weight: 300;
  font-size: 11px;
}

#projects .caption a:hover {
  background: #ffffff;
  color: #000000;
}


/* --------- skills --------- */
#skills {
  max-width: 1000px;
  padding-top: 55px;
}

#skills h1 {
  text-align: center;
  font-family: serif;
  padding-top: 35px;
  padding-bottom: 30px;
}

#skills .row {
  width: 600px;
  margin: 0 auto;
}

.skillbar {
	position:relative;
	display:block;
	margin-bottom:15px;
	width:100%;
	background-color: #fff3f0; 
	height:35px;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	-webkit-transition:0.4s linear;
	-moz-transition:0.4s linear;
	-ms-transition:0.4s linear;
	-o-transition:0.4s linear;
	transition:0.4s linear;
	-webkit-transition-property:width, background-color;
	-moz-transition-property:width, background-color;
	-ms-transition-property:width, background-color;
	-o-transition-property:width, background-color;
	transition-property:width, background-color;
}

.skillbar-title {
	position:absolute;
	top:0;
	left:0;
  width:110px;
	font-weight:bold;
	font-size:13px;
	color:#ffffff;
  background: #ff699b;
	-webkit-border-top-left-radius:3px;
	-webkit-border-bottom-left-radius:4px;
	-moz-border-radius-topleft:3px;
	-moz-border-radius-bottomleft:3px;
	border-top-left-radius:3px;
	border-bottom-left-radius:3px;
}

.skillbar-title span {
  font-family: 'Raleway', sans-serif;
	display:block;
	background:rgba(0, 0, 0, 0.1);
	padding:0 20px;
	height:35px;
	line-height:35px;
	-webkit-border-top-left-radius:3px;
	-webkit-border-bottom-left-radius:3px;
	-moz-border-radius-topleft:3px;
	-moz-border-radius-bottomleft:3px;
	border-top-left-radius:3px;
	border-bottom-left-radius:3px;
}

.skillbar-bar {
	height:35px;
	width:0px;
  background: #ffb6c1;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
}


/* --------- contact --------- */
#contact {
  max-width: 1000px;
  padding-top: 40px;
  padding-bottom: 70px;
}

#contact h1 {
  text-align: center;
  font-family: serif;
  padding-top: 35px;
  padding-bottom: 30px;
}

#contactForm {
  background-color:rgba(0,0,0,0.25);
  border-radius: 5px;
  max-width: 600px;
  margin: auto;
}

#contactForm .container-fluid {
  padding-top: 30px;
  padding-bottom: 30px;
}

.form-control {
  background-color: #9febe0;
}

.form-horizontal {
  max-width: 500px;
}

.form-horizontal .form-group {
  font-family: 'Raleway', sans-serif;
  font-size: 17px;
}

.form-horizontal button {
  background-color: #9febe0;
}

.form-horizontal button:hover {
  background-color: #ffb6c1;
  color: #ffffff;
}

textarea {
  resize: none;
}


/* --------- footer --------- */
#footer p {
  font-family: sans-serif;
  font-weight: 300;
  font-size: 9pt;
}

#footer .fa-ul {
  margin-left: 60px;
}

#footer li {
  padding: 8px;
  padding-left: 15px;
  padding-right: 15px;
  display: inline-block;
}

#footer li a {
  color: #545454;
}

#footer li a:hover {
  color: #ffb6c1;
}

body {
  padding-top: 160px; 
  background: url(images/project-cover-1.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
